@font-face {
  font-family: "Hurme-Bold";
  src: url("../fonts/HurmeGeometricSans3-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Hurme-Regular";
  src: url("../fonts/HurmeGeometricSans3-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
#es-rc #es-rc-content {
  font-family: "Hurme-Regular", sans-serif;
  font-size: 19.2px;
  font-weight: 400;
  line-height: 1.2;
  color: #13294b;
  color: #13294b;
  background-color: #d9d8d6;
  max-width: 990px;
  margin: auto;
  text-align: center;
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #13294b;
  color: #d9d8d6;
}
#es-rc #es-rc-content ::selection {
  background-color: #13294b;
  color: #d9d8d6;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content button {
  display: block;
}
#es-rc #es-rc-content .es-section-title {
  font-family: "Hurme-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-section-title {
    font-size: 55px;
  }
}
#es-rc #es-rc-content .es-kv {
  background-color: #d9d8d6;
  text-align: center;
}
#es-rc #es-rc-content .es-kv__left {
  padding: 32px;
}
#es-rc #es-rc-content .es-kv__logoCtn {
  max-width: 220px;
  margin: auto;
}
#es-rc #es-rc-content .es-kv__logo {
  max-width: 150px;
  margin: auto;
}
#es-rc #es-rc-content .es-kv__slogan {
  font-size: 24px;
  font-family: "Hurme-Bold", sans-serif;
  color: #8e7845;
  margin-top: 8px;
}
#es-rc #es-rc-content .es-kv__title {
  font-size: 48px;
  font-family: "Hurme-Bold", sans-serif;
  color: #8e7845;
  margin-block: 32px;
}
#es-rc #es-rc-content .es-kv__packshot {
  margin-top: 32px;
  padding-top: 32px;
  position: relative;
  z-index: 1;
}
#es-rc #es-rc-content .es-kv__packshot img {
  width: auto;
  max-height: 400px;
  margin-bottom: -50px;
}
#es-rc #es-rc-content .es-design {
  padding: 32px;
  padding-right: 0;
  background-color: #13294b;
  color: #d9d8d6;
}
#es-rc #es-rc-content .es-design .es-section-title {
  margin-block: 50px;
}
#es-rc #es-rc-content .es-design__product {
  margin-block: 32px;
}
#es-rc #es-rc-content .es-design__description {
  padding-right: 32px;
}
#es-rc #es-rc-content .es-design__description ::-moz-selection {
  background-color: #8e7845;
  color: #13294b;
}
#es-rc #es-rc-content .es-design__description ::selection {
  background-color: #8e7845;
  color: #13294b;
}
#es-rc #es-rc-content .es-durable {
  padding: 32px;
  padding-bottom: 90px;
  background-color: #13294b;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
#es-rc #es-rc-content .es-durable ::-moz-selection {
  background-color: #8e7845;
  color: #13294b;
}
#es-rc #es-rc-content .es-durable ::selection {
  background-color: #8e7845;
  color: #13294b;
}
#es-rc #es-rc-content .es-durable .es-section-title {
  margin-block: 0;
}
#es-rc #es-rc-content .es-durable__left {
  color: #8e7845;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 500px;
  margin: auto;
}
#es-rc #es-rc-content .es-durable__icon {
  max-width: 150px;
}
#es-rc #es-rc-content .es-durable__description {
  font-size: 22.4px;
  font-family: "Hurme-Bold", sans-serif;
}
#es-rc #es-rc-content .es-durable__product img {
  max-height: 400px;
  width: auto;
}
#es-rc #es-rc-content .es-durable__right ::-moz-selection {
  background-color: #13294b;
  color: #d9d8d6;
}
#es-rc #es-rc-content .es-durable__right ::selection {
  background-color: #13294b;
  color: #d9d8d6;
}
#es-rc #es-rc-content .es-compatible {
  padding: 50px 32px;
  position: relative;
  background-color: #13294b;
  color: #d9d8d6;
}
#es-rc #es-rc-content .es-compatible .es-section-title {
  color: #8e7845;
  margin-top: 32px;
}
#es-rc #es-rc-content .es-compatible ::-moz-selection {
  background-color: #8e7845;
  color: #13294b;
}
#es-rc #es-rc-content .es-compatible ::selection {
  background-color: #8e7845;
  color: #13294b;
}
#es-rc #es-rc-content .es-compatible__icon {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -50px;
}
#es-rc #es-rc-content .es-compatible__icon img {
  max-width: 100px;
}
#es-rc #es-rc-content .es-compatible__description {
  text-align: center;
  margin-top: 32px;
}
#es-rc #es-rc-content .es-features {
  background-color: #13294b;
  color: #d9d8d6;
}
#es-rc #es-rc-content .es-features .es-section-title {
  color: #13294b;
  padding: 32px;
}
#es-rc #es-rc-content .es-features__description {
  padding: 32px;
}
#es-rc #es-rc-content .es-features__arrow {
  display: none;
}
#es-rc #es-rc-content .es-features__steps {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
}
#es-rc #es-rc-content .es-features__step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
#es-rc #es-rc-content .es-features__step--title {
  font-family: "Hurme-Bold", sans-serif;
  font-size: 25.6px;
}
#es-rc #es-rc-content .es-taste {
  background-color: #13294b;
  color: #d9d8d6;
}
#es-rc #es-rc-content .es-taste .es-section-title {
  padding: 32px;
}
#es-rc #es-rc-content .es-taste ::-moz-selection {
  background-color: #8e7845;
  color: #13294b;
}
#es-rc #es-rc-content .es-taste ::selection {
  background-color: #8e7845;
  color: #13294b;
}
#es-rc #es-rc-content .es-taste__Ctn {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
#es-rc #es-rc-content .es-taste__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
#es-rc #es-rc-content .es-taste__title {
  font-family: "Hurme-Bold", sans-serif;
  font-size: 25.6px;
}
#es-rc #es-rc-content .es-footer {
  background-color: #13294b;
  color: #d9d8d6;
  padding: 32px;
  -webkit-hyphens: auto;
          hyphens: auto;
}
#es-rc #es-rc-content .es-footer ::-moz-selection {
  background-color: #8e7845;
  color: #13294b;
}
#es-rc #es-rc-content .es-footer ::selection {
  background-color: #8e7845;
  color: #13294b;
}
#es-rc #es-rc-content .es-footer__image {
  margin-block: 32px;
}
@media (max-width: 768px) {
  #es-rc #es-rc-content .es-kv {
    background-image: none !important;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  #es-rc #es-rc-content .es-kv__left {
    padding: 50px 0 32px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #es-rc #es-rc-content .es-kv__logo {
    max-width: 200px;
  }
  #es-rc #es-rc-content .es-kv__slogan {
    font-size: 28px;
  }
  #es-rc #es-rc-content .es-kv__title {
    font-size: 66px;
  }
  #es-rc #es-rc-content .es-kv__description {
    font-size: 22px;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    background-image: none !important;
    margin-top: 0;
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  #es-rc #es-rc-content .es-kv__packshot img {
    max-height: 620px;
  }
  #es-rc #es-rc-content .es-durable__icon {
    max-width: 216px;
  }
  #es-rc #es-rc-content .es-durable__description {
    font-size: 33px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-kv__description {
    width: 90%;
    max-width: 450px;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    padding: 50px 100px 0 0;
  }
}/*# sourceMappingURL=styles.css.map */