@charset "UTF-8";

// @font-face {
//   font-family: "Hurme-Black";
//   src: url("../fonts/HurmeGeometricSans3-Black.woff") format("woff");
//   font-weight: 600;
//   font-style: normal;
// }

@font-face {
  font-family: "Hurme-Bold";
  src: url("../fonts/HurmeGeometricSans3-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hurme-Regular";
  src: url("../fonts/HurmeGeometricSans3-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: "Hurme-Light";
//   src: url("../fonts/HurmeGeometricSans3-Light.woff2") format("woff2");
//   font-weight: 300;
//   font-style: normal;
// }

$text-main: "Hurme-Regular", sans-serif;
$text-secondary: "Hurme-Bold", sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-base: 16px;
$fs-header-mobile: 32px;
$fs-header: 55px;

@mixin text-main {
  font-family: $text-main;
  font-size: calc(1.2 * $fs-base);
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
}

@mixin text-section-header {
  font-family: $text-secondary;
  font-size: $fs-header-mobile;
  font-weight: $fw-bold;
  @media (min-width: $media-breakpoint-md) {
    font-size: $fs-header;
  }
}

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 50px;

$color-main: #13294b;
$color-bg: #d9d8d6;
$color-accent: #8e7845;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

#es-rc #es-rc-content {
  @include text-main;
  color: $color-main;
  background-color: $color-bg;
  max-width: 990px;
  margin: auto;
  text-align: center;
  ::selection {
    background-color: $color-main;
    color: $color-bg;
  }

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  .es-section-title {
    @include text-section-header;
    text-align: center;
  }

  .es-kv {
    background-color: $color-bg;
    text-align: center;
    &__left {
      padding: $px-XL;
    }
    &__logoCtn {
      max-width: 220px;
      margin: auto;
    }
    &__logo {
      max-width: 150px;
      margin: auto;
    }
    &__slogan {
      font-size: calc(1.5 * $fs-base);
      font-family: $text-secondary;
      color: $color-accent;
      margin-top: $px-S;
    }
    &__title {
      font-size: calc(3 * $fs-base);
      font-family: $text-secondary;
      color: $color-accent;
      margin-block: $px-XL;
    }
    &__packshot {
      margin-top: $px-XL;
      padding-top: $px-XL;
      position: relative;
      z-index: 1;
      img {
        width: auto;
        max-height: 400px;
        margin-bottom: -50px;
      }
    }
  }

  .es-design {
    padding: $px-XL;
    padding-right: 0;
    background-color: $color-main;
    color: $color-bg;
    .es-section-title {
      margin-block: 50px;
    }
    &__product {
      margin-block: $px-XL;
    }
    &__description {
      padding-right: $px-XL;
      ::selection {
        background-color: $color-accent;
        color: $color-main;
      }
    }
  }

  .es-durable {
    padding: $px-XL;
    padding-bottom: 90px;
    background-color: $color-main;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $px-XL;
    ::selection {
      background-color: $color-accent;
      color: $color-main;
    }

    .es-section-title {
      margin-block: 0;
    }
    &__left {
      color: $color-accent;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $px-XL;
      max-width: 500px;
      margin: auto;
    }

    &__icon {
      max-width: 150px;
    }
    &__description {
      font-size: calc(1.4 * $fs-base);
      font-family: $text-secondary;
    }
    &__product img {
      max-height: 400px;
      width: auto;
    }
    &__right {
      ::selection {
        background-color: $color-main;
        color: $color-bg;
      }
    }
  }

  .es-compatible {
    padding: $px-XXL $px-XL;
    position: relative;
    background-color: $color-main;
    color: $color-bg;
    .es-section-title {
      color: $color-accent;
      margin-top: 32px;
    }
    ::selection {
      background-color: $color-accent;
      color: $color-main;
    }
    &__icon {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: -50px;
      img {
        max-width: 100px;
      }
    }

    &__description {
      text-align: center;
      margin-top: $px-XL;
    }
  }

  .es-features {
    background-color: $color-main;
    color: $color-bg;
    .es-section-title {
      color: $color-main;
      padding: $px-XL;
    }
    &__description {
      padding: $px-XL;
    }

    &__arrow {
      display: none;
    }

    &__steps {
      display: flex;
      flex-direction: column;
      gap: $px-XL;
      padding: $px-XL;
    }
    &__step {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $px-M;

      &--title {
        font-family: $text-secondary;
        font-size: calc(1.6 * $fs-base);
      }
    }
  }

  .es-taste {
    background-color: $color-main;
    color: $color-bg;
    .es-section-title {
      padding: $px-XL;
    }
    ::selection {
      background-color: $color-accent;
      color: $color-main;
    }
    &__Ctn {
      padding: $px-XL;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $px-L;
    }

    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $px-M;
    }
    &__title {
      font-family: $text-secondary;
      font-size: calc(1.6 * $fs-base);
    }
  }

  .es-footer {
    background-color: $color-main;
    color: $color-bg;
    padding: $px-XL;
    hyphens: auto;
    ::selection {
      background-color: $color-accent;
      color: $color-main;
    }
    &__image {
      margin-block: $px-XL;
    }
  }

  @media (max-width: $media-breakpoint-md) {
    .es-kv {
      background-image: none !important;
    }
  }

  @media (min-width: $media-breakpoint-md) {
    .es-kv {
      display: flex;
      justify-content: space-between;
      padding: 0;
      &__left {
        padding: $px-XXL 0 $px-XL 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &__logo {
        max-width: 200px;
      }
      &__slogan {
        font-size: calc(1.75 * $fs-base);
      }
      &__title {
        font-size: calc(4.125 * $fs-base);
      }
      &__description {
        font-size: calc(1.375 * $fs-base);
      }
      &__packshot {
        background-image: none !important;
        margin-top: 0;
        margin-left: -100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        img {
          max-height: 620px;
        }
      }
    }
    .es-durable {
      &__icon {
        max-width: 216px;
      }
      &__description {
        font-size: calc(2.0625 * $fs-base);
      }
    }
  }

  @media (min-width: $media-breakpoint-lg) {
    .es-kv {
      &__description {
        width: 90%;
        max-width: 450px;
      }
      &__packshot {
        padding: $px-XXL calc(2 * $px-XXL) 0 0;
      }
    }
  }
}
