@charset "UTF-8";

// @font-face {
//   font-family: "Hurme-Black";
//   src: url("../fonts/HurmeGeometricSans3-Black.woff") format("woff");
//   font-weight: 600;
//   font-style: normal;
// }

@font-face {
  font-family: "Hurme-Bold";
  src: url("../fonts/HurmeGeometricSans3-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hurme-Regular";
  src: url("../fonts/HurmeGeometricSans3-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: "Hurme-Light";
//   src: url("../fonts/HurmeGeometricSans3-Light.woff2") format("woff2");
//   font-weight: 300;
//   font-style: normal;
// }

$text-main: "Hurme-Regular", sans-serif;
$text-secondary: "Hurme-Bold", sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-base: 16px;
$fs-header-mobile: 32px;
$fs-header: 40px;
$fs-header-big: 55px;

@mixin text-main {
  font-family: $text-main;
  font-size: calc(1.2 * $fs-base);
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
}

@mixin text-section-header {
  font-family: $text-secondary;
  font-size: $fs-header-mobile;
  font-weight: $fw-bold;
  @media (min-width: $media-breakpoint-md) {
    font-size: $fs-header;
  }
}

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 50px;

$color-main: #13294b;
$color-bg: #d9d8d6;
$color-accent: #8e7845;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

#es-rc #es-rc-content {
  @include text-main;
  color: $color-main;
  background-color: $color-bg;
  max-width: 990px;
  margin: auto;
  text-align: center;

  ::selection {
    background-color: $color-main;
    color: $color-bg;
  }

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-section-title {
    @include text-section-header;
    text-align: center;
  }

  .es-kv {
    background-color: $color-bg;
    &__left {
      padding: $px-XL;
    }
    &__logoCtn {
      max-width: 220px;
      margin: auto;
    }
    &__logo {
      max-width: 150px;
      margin: auto;
    }
    &__slogan {
      font-size: calc(1.5 * $fs-base);
      font-family: $text-secondary;
      color: $color-accent;
      margin-top: $px-S;
    }
    &__title {
      font-size: calc(3 * $fs-base);
      font-family: $text-secondary;
      color: $color-accent;
      margin-block: $px-XL;
    }
    &__packshot {
      margin-top: $px-XL;
      padding-top: $px-XL;
      position: relative;
      z-index: 1;
      img {
        width: auto;
        max-height: 400px;
        margin-bottom: -50px;
      }
    }
  }

  .es-design {
    padding: $px-XL;
    padding-right: 0;
    background-color: $color-main;
    color: $color-bg;
    .es-section-title {
      margin-block: 50px;
      font-size: $fs-header-big;
    }
    &__product {
      margin-block: $px-XL;
    }
    &__description {
      padding-right: $px-XL;
      ::selection {
        background-color: $color-accent;
        color: $color-main;
      }
    }
  }

  .es-durable {
    padding: $px-XL;
    padding-bottom: 90px;
    background-color: $color-main;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $px-XL;

    ::selection {
      background-color: $color-accent;
      color: $color-main;
    }

    .es-section-title {
      margin-block: 0;
    }

    &__bg {
      display: none;
    }

    &__left {
      color: $color-accent;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $px-XL;
      max-width: 500px;
      margin: auto;
    }

    &__icon {
      max-width: 150px;
      margin: auto;
      margin-bottom: $px-L;
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }
    &__description {
      font-size: calc(1.4 * $fs-base);
      font-family: $text-secondary;
    }
    &__product img {
      max-height: 400px;
      width: auto;
    }
    &__right {
      ::selection {
        background-color: $color-main;
        color: $color-bg;
      }
    }
  }

  .es-compatible {
    padding: $px-XXL $px-XL;
    position: relative;
    background-color: $color-main;
    color: $color-bg;
    .es-section-title {
      color: $color-accent;
      margin-top: 32px;
    }
    ::selection {
      background-color: $color-accent;
      color: $color-main;
    }
    &__icon {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: -50px;
      img {
        max-width: 100px;
      }
    }

    &__description {
      text-align: center;
      margin-top: $px-XL;
    }
  }

  .es-features {
    background-color: $color-main;
    color: $color-bg;
    .es-section-title {
      color: $color-main;
      padding: $px-XL;
    }
    &__description {
      padding: $px-XL;
    }

    &__arrow {
      display: none;
    }

    &__steps {
      display: flex;
      flex-direction: column;
      gap: $px-XL;
      padding: $px-XL;
    }
    &__step {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $px-M;

      &--title {
        font-family: $text-secondary;
        font-size: calc(1.6 * $fs-base);
      }
    }
  }

  .es-taste {
    background-color: $color-main;
    color: $color-bg;
    .es-section-title {
      padding: $px-XL;
    }
    ::selection {
      background-color: $color-accent;
      color: $color-main;
    }
    &__Ctn {
      padding: $px-XL;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $px-L;
    }

    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $px-M;
    }
    &__title {
      font-family: $text-secondary;
      font-size: calc(1.6 * $fs-base);
    }
  }

  .es-footer {
    background-color: $color-main;
    color: $color-bg;
    padding: $px-XL;
    hyphens: auto;
    ::selection {
      background-color: $color-accent;
      color: $color-main;
    }
    &__image {
      margin-block: $px-XL;
    }
  }

  @media (max-width: calc($media-breakpoint-md - 1px)) {
    .es-kv {
      background-image: none !important;
    }
  }

  @media (min-width: $media-breakpoint-md) {
    text-align: left;

    .es-kv {
      display: flex;
      justify-content: space-between;
      padding: 0;
      &__left {
        padding: $px-XXL 0 $px-XL 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &__logoCtn {
        margin: unset;
      }
      &__logo {
        max-width: 200px;
      }
      &__slogan {
        font-size: calc(1.75 * $fs-base);
      }
      &__title {
        font-size: calc(4.125 * $fs-base);
      }
      &__description {
        font-size: calc(1.375 * $fs-base);
      }
      &__packshot {
        background-image: none !important;
        margin-top: 0;
        margin-left: -100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        img {
          max-height: 620px;
        }
      }
    }
    .es-design {
      padding: 32px 0 60px 60px;
      &__description {
        padding-right: 60px;
      }
    }
    .es-durable {
      text-align: left;
      flex-direction: row;
      align-items: flex-end;
      padding: 32px 60px 80px 60px;
      background-image: none !important;
      position: relative;
      z-index: 0;
      &__bg {
        display: block;
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
      }
      &__left {
        justify-content: space-between;
        height: 100%;
      }
      &__icon {
        max-width: 130px;
        margin-top: $px-XL;
        margin-bottom: $px-L;
        &--m {
          display: none;
        }
        &--d {
          display: block;
        }
      }
      &__description {
        font-size: calc(1.4 * $fs-base);
        margin-right: -50px;
      }
      &__product {
        margin-left: -50px;
      }
      &__right {
        align-self: center;
        margin-left: -20px;
        margin-top: 20px;
      }
    }
    .es-compatible {
      padding: 60px;
      padding-top: 20px;
      &__img {
        margin-top: -75px;
      }
    }
    .es-features {
      .es-section-title {
        padding: 60px 0 20px 0;
      }
      &__description {
        padding: 32px 60px 60px 60px;
        text-align: center;
      }
      &__steps {
        flex-direction: row;
        padding: 0 32px 60px 32px;
        margin-top: -16px;
        position: relative;
      }
      &__step {
        &--title {
          display: none;
        }
        &--2 {
          margin-top: -48px;
        }
        &--3 {
          margin-top: 28px;
        }
      }
      &__arrow {
        display: block;
        position: absolute;
        max-width: 50px;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        &--1 {
          left: 26%;
          top: -11%;
        }
        &--2 {
          left: 55%;
          top: 43%;
        }
      }
      overflow: hidden;
      .es-triangle {
        width: 0;
        height: 0;
        border-top: 120px solid transparent;
        border-bottom: 0px solid transparent;
        border-left: 1000px solid $color-main;
      }
    }
    .es-taste {
      .es-section-title {
        padding: 20px 0 60px 0;
        margin-top: -30px;
      }
      &__Ctn {
        text-align: center;
      }
    }
    .es-footer {
      text-align: center;
      padding: 60px;
    }
  }

  @media (min-width: $media-breakpoint-lg) {
    .es-kv {
      &__description {
        width: 90%;
        max-width: 450px;
      }
      &__packshot {
        padding: $px-XXL calc(2 * $px-XXL) 0 0;
      }
    }
    .es-durable {
      &__icon {
        max-width: 216px;
      }
      &__description {
        font-size: calc(2.0625 * $fs-base);
      }
    }
    .es-taste {
      &__desktop {
        position: relative;
        outline: 1px solid red;
        height: 600px;
      }
      &__image {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
      }
      &__single {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 50%;
        &:nth-of-type(1) {
          outline: 1px solid orange;
          top: 15%;
          left: 26%;
        }
        &:nth-of-type(2) {
          outline: 1px solid yellow;
          top: unset;
          left: 26%;
          bottom: -14%;
        }
        &:nth-of-type(3) {
          outline: 1px solid green;
          left: unset;
          top: 15%;
          right: -25%;
        }
        &:nth-of-type(4) {
          outline: 1px solid pink;
          left: unset;
          top: unset;
          right: -25%;
          bottom: -14%;
        }
      }
    }
  }
}
